html {
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  background-image: url('needpix_com_edited_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  font-family: 'Spectral', serif;
}

h1 {
  font-size: 60px;
  color: rgb(229, 233, 236);
  border-bottom: 2px solid black;
  /* padding-left: 40px; */
}

h3 {
  padding-left: 100px;
  padding-bottom: 5px;
}

p {
  text-align: center;
  /* color: white; */
  color: black;
  font-size: 20px;
}

span {
  color: green;
  display: none;
}

img {
  border: 2px solid white;
  margin-top: 2px;
}

.incorrect:hover {
  text-decoration: none;
  cursor: pointer;
}

.answer:hover {
  text-decoration: none;
  cursor: pointer;
}

.question {
  font-weight: 600;
}

.score-board {
  float: right;
  background-color: rgb(33, 88, 88, 0.2);
  color: white;
  font-size: 30px;
  height: 100px;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
}

.score-title,
.time-title {
  /* padding-left: 130px; */
  margin-bottom: 0;
  margin-top: 10px;
}

.score,
.time {
  /* padding-left: 30px; */
  margin-top: 10px;
}

.timer {
  background-color: rgb(33, 88, 88, 0.2);
  color: white;
  font-size: 30px;
  height: 100px;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
}

.container {
  border: 2px solid white;
  background-color: rgb(245, 245, 245, 0.7);
  margin-top: 10px;
  border-radius: 5px;
  height: 400px;
  width: 600px;
}

.container-two,
.container-three,
.container-four,
.container-six {
  border: 2px solid white;
  background-color: rgb(245, 245, 245, 0.7);
  margin-top: 10px;
  border-radius: 5px;
  height: 400px;
  width: 600px;
  display: none;
}

.container-seven {
  border: 2px solid white;
  background-color: rgb(245, 245, 245, 0.7);
  margin-top: 10px;
  border-radius: 5px;
  height: 450px;
  width: 600px;
  display: none;
}

/* container five wouldnt load unless it was separated out.... */
.container-five {
  border: 2px solid white;
  background-color: rgb(245, 245, 245, 0.7);
  margin-top: 10px;
  border-radius: 5px;
  height: 400px;
  width: 600px;
  display: none;
}

.start-button {
  margin: 45px;
  font-size: 12px;
  background-color: rgb(230, 225, 225);
  padding: 16px;
  transition-duration: 0.4s;
  border: rgb(50, 50, 92) 1px solid;
  border-radius: 3px;
}

.start-button:hover {
  background-color: rgb(221, 82, 27);
}

.win-screen {
  margin: 10px 0 10px 0;
  color: black;
  font-size: 50px;
}

/* Img hosted by giphy */
.cheat {
  position: absolute;
  background-image: url('https://media.giphy.com/media/5ftsmLIqktHQA/giphy.gif');
  background-repeat: repeat;
  text-align: center;
  opacity: 0;
  position: relative;
}

.reset {
  background-color: white;
  padding: 16px;
  border: rgb(50, 50, 92) 1px solid;
  border-radius: 7px;
  transition-duration: 0.4s;
}

.reset:hover {
  background-color: rgb(221, 82, 27);
}

/* Media Queries from catswhocode.com */
@media screen and (max-width: 400px) {
  html {
    width: 100%;
  }
  body {
    width: 100%;
    margin: 0;
    border: none;
  }
}
